@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LearningTogether.Web.Infrastructure.Extensions
@using WebGrease.Css.Extensions
@model LearningTogether.Web.Models.Home.IndexViewModel

<h1>Under construction</h1>

<div class="row fixed">
    <h2 class="text-center">Top WebSites</h2>

    @foreach (var item in Model.Sites)
    {
        @Html.DisplayFor(x => item)
    }
</div>

<div class="clearfix"></div>

<div class="row">
    <h2 class="text-center">Top Videos</h2>
    @foreach (var item in Model.Videos)
    {
        @Html.DisplayFor(x => item)
    }
</div>

<div class="row">
    <h2 class="text-center">Top Articles</h2>
    @foreach (var item in Model.Articles)
    {
        @Html.DisplayFor(x => item)
    }
</div>

@section scripts{
    @Scripts.Render("~/Bundles/Rating")
}