@using LearningTogether.Common
@model ICollection<LearningTogether.Web.ViewModels.ItemViewModel>

<h1>Under construction</h1>

@foreach (var item in Model)
{
    <img src="@item.ScreenShotName"/>
    <a href="@item.Link">@item.Link</a>
    <p>@item.Description</p>
}