@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @RenderSection("styles", required: false)
}

@section menu {
    @RenderSection("menu", false)
}

<div class="container">
    @RenderBody()
</div>

@section scripts {
    @RenderSection("scripts", required: false)
}

